<h1>Tasks cadastradas</h1>

<div class="container">
    <ul class="task-list">
        {{#each tasks}}
            {{#with this}}
                <li>
                    {{#if done}}
                        <a href="/" class="title done">{{name}}</a>
                    {{else}}
                        <a href="/" class="title">{{name}}</a>
                    {{/if}}
                 
                    <div class="actions">
                        <a href="/tasks/edit/{{id}}"><i class="bi bi-pencil-square"></i></a>
                      
                        <form action="/tasks/toggleStatus" method="post">
                            <input type="hidden" name="id" value="{{id}}">
                            <button type="submit">
                                <i class="bi bi-check-square"></i>
                            </button>
                        </form>
                        <form action="/tasks/delete" method="post">
                            <input type="hidden" name="id" value="{{id}}">
                            <button type="submit">
                                <i class="bi bi-trash"></i>
                            </button>
                        </form>
                       
                    </div>
                </li>
               
            {{/with}}
        {{/each}}
    </ul>
   
</div>